@import url(https://fonts.googleapis.com/css?family=Bitter);
@import url(https://fonts.googleapis.com/css?family=Stoke);

body {
  color: rgb(0,0,0);
  background-image:url(../img/bg.png);
  font-size: 15px;
  font-family: 'Bitter', serif;
  width:80%;
  margin-left:auto;
  margin-right:auto;
  font-weight: 100;
}

a {
  color: rgb(171,171,171);
  text-decoration: none;
}

a:hover,
a:focus {
  color: rgb(0,39,168);
  -moz-transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

header {
  font-family: 'Stroke', serif;
  width: 75%;
  padding: 32px;
  margin: 48px auto 0 auto;
  text-align: center;
  font-weight: 300;
  background-color: #ffffff;
  box-shadow: 3px 3px 3px #888888;
}

nav {
  text-align: center;
  width: 75%;
  padding-bottom: 1em;
  padding-top: 1em;
  border-bottom: 1px solid #cdcdcd;
  box-shadow: 2px 2px 13px #888888;
  margin: auto;
}

nav ul {
  display: inline;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1em;
}

section {
  width: 75%;
  padding: 32px;
  margin: 48px auto 0 auto;
  background-color: #ffffff;
  box-shadow: 3px 3px 3px #888888;

}
footer {
  color: rgb(0,94,255);
  margin: 48px auto 0 auto;
  border-top: 1px solid #cdcdcd;
}